@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow';
@import 'https://fonts.googleapis.com/css?family=Roboto';

body{
    background: #e5e5e5;
}
h1{
    font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom:50px;
    font-size:26px;
}
.block{
    margin:0 auto;
    float: none;
    background: #fff;
    margin-top: 40px;
    box-shadow: 0 0 10px #ccc;
    min-height:800px;
}
.form-control{
    width: 93%;
    float: left;
    height: 38px;
}
#add{
    padding: 10px 0;
    background: #28c2fb;
    width: 6%;
    margin-left: 1%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 65px;
    height: 38px;
    font-size: 18px;
}
.form-control, .well{
    border-radius: 0;
    background-color: #f5f5f5;
}
label{
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color: #4d4d4d;
    cursor: pointer;
}
.textcut{
    text-decoration: line-through;
}
.well{
    padding:10px;
    margin:10px 0;
    border-width: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: #f2f2f2;
}

.square{
    background: #fff;
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    height:26px;
    width:26px;
    color: #787878;
    line-height: 19px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
.fa-trash-o:hover{
    color:#666;
}
.margin-bottom-20{
    margin-bottom:20px;
}
.fa-trash-o{
    font-size:21px;
    cursor: pointer;
    color:#ccc;
}
.fa-trash-o.disabled{
    cursor: default;
}