@import "compass";

$brand-primary: #4d4d5d;
$brand-success: #2b5f15; 
$brand-danger: #9a2828;
$font-family-featured: 'PT Sans Narrow', sans-serif;
$radius: 3px;
$lightness: -20;

body {
	font-family: 'Roboto', sans-serif;
	background: $brand-primary;
	color: #4c4c4c;
}
.wrapper {
	width: 800px;
	margin: 20px auto;
	padding: 10px;

	@include border-radius($radius);
	background: #fff;
}
h1 {	
	color: $brand-primary;
	font-family: $font-family-featured;
	font-size: 30px;
	text-transform: uppercase;
}
h2 {
	margin: 0;
}
a {
	text-decoration: none;
}
.btn {
	@include border-radius($radius);
	@include box-shadow(0px 0px 8px 0px rgba(0,0,0,0.9));
	padding: 2px 6px;

	background: $brand-primary;
	color: #fff;
	font-family: $font-family-featured;
	font-size: 18px;

	&:hover {
		background: adjust-lightness($brand-primary, $lightness);
	}

	.fa {
		font-size: 16px;
	}

	&-add {
		background: $brand-success;

		&:hover {
			background: adjust-lightness($brand-success, $lightness);
		}
	}

	&-remove {
		background: $brand-danger;

		&:hover {
			background: adjust-lightness($brand-danger, $lightness);
		}
	}
}
.product {
	padding: 20px 0;
	border-bottom: 1px solid $brand-primary;

	zoom: 1;
	overflow: auto;

	&:last-child {
		border-bottom: 0;
	}

	&-image {
		float: left;
		width: 20%;
		img	
		{
			width: 100px;
			height: 100px;
		}
	}

	&-info {
		float: right;
		width: 80%;

		p {
			font-size: 17px;
		}
	}
}