@import "compass";

$title-fonts: 'PT Sans Narrow', sans-serif;
$text-fonts: 'Roboto', sans-serif;
$border-radius: 3px;
$label-color: #4d4d4d;
$text-size: 15px;
$lightness: -20px;

//use bootstrap vars before
$body-bg: #e5e5e5;
$brand-info: #28c2fb;
@import "_bootstrap.scss";

.container {
  h1 {
    font-family: $title-fonts;
    padding-bottom: 50px;
    font-size: 26px;
  }
  .block {
    margin: 0 auto;
    float: none;
    background: #fff;
    margin-top: 40px;
    @include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.4));
    min-height: 800px;
  }
  .form-control {
    width: 93%;
    float: left;
    height: 38px;
  }
  #add {
    padding: 10px 0;
    background: $brand-info;
    width: 6%;
    margin-left: 1%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 65px;
    height: 38px;
    font-size: 18px;
    @include border-radius(0);

    &:hover {
      background: darken($brand-info, 20);
    }
  }
  .form-control, .well {
    @include border-radius(0);
    background-color: #f5f5f5;
  }
  label {
    margin-bottom: 0;
    font-family: $text-fonts;
    font-size: $text-size;
    color: $label-color;
    cursor: pointer;

  }
  .done label {
    text-decoration: line-through;
  }

}

.well {
  padding: 10px;
  margin: 10px 0;
  border-width: 0px;
  @include box-shadow(none);
  background: #f2f2f2;

  .square {
    background: #fff;
    padding: 3px;
    @include border-radius($border-radius);
    height: 26px;
    width: 26px;
    color: #787878;
    line-height: 19px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
}

.fa-trash-o {
  font-size: 21px;
  cursor: pointer;
  color: #ccc;

  &:hover {
    color: darken($label-color, 20);
  }

}

.margin-bottom-20 {
  margin-bottom: 20px;
}